 # Pandas Cheatsheet: Most Common Functions

In [3]:
import numpy as np
import pandas as pd

### 01.Create DataFrame

In [8]:
# Way1: From Dictionary, specify values for each column
df = pd.DataFrame({"col1":[1,2,3], "col2":["a","b","c"]})
df

   col1 col2
0     1    a
1     2    b
2     3    c

In [10]:
# Way2: From list of lists - specify values for each row
df2 = pd.DataFrame(
    [[1,2,3],
     [4,5,6],
     [7,8,9]],
    index = ["a","b","c"],
    columns = ["col1","col2","col3"]
)
df2

   col1  col2  col3
a     1     2     3
b     4     5     6
c     7     8     9

In [11]:
# Way3: From list of dicts
df3 = pd.DataFrame([{"a": 1, "b": 2},{"a":3, "b":4}], index=[1,2])
df3

   a  b
1  1  2
2  3  4

### 02.